*{
	margin: 0;
	padding: 0;
	font-family: Times 'Times New Roman', Times, serif;
	box-sizing: border-box;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.main title{
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%,-50%); 
}

.main ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

.main ul li{
	display: inline-block;
}

.main ul li a{
	text-decoration: none;
	color: #db7093;
	padding: 10px 20px;
	border:  1px solid transparent;
	transition: 0.6s ease;
}

.main ul li a:hover{
	background-color: #e6e6fa;
	color: #db7093;
}

.main ul li.active a{
	background-color: #e6e6fa;
	color: #db7093;
}

h2{
	position: absolute;
	top: 20%;
	left: 30%;
	transform: translate(-50%,-50%); 
	color: #ffb6c1;
	font-size: 45px;
}

.container{
	margin: 140px 130px;
	padding: 8px;
}

.text{
	text-align: justify;
	color: #ffe4e1;
	font-size: 18px;
}

i, b, ins{
	color: #fb9fa4;
}

table{
    width: 70%;
}

th{
    height: 50px;
    padding: 15px;
    color: #ffc0cb;
}

td{
    height: 40px;
    padding: 15px;
    color: #ffb6c1;
}

table, th, td{
    border: 2px solid #ffc8d0;
}